<!DOCTYPE html>
<html lang="en" class="font-primary" ng-app="mainApp">
<head>
    <!-- Title -->
    <title>Need Help?</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700%7Csubset=cyrillic,latin" rel="stylesheet" type="text/css">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="../../assets/vendor/animate.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">
    <!-- CSS Unify -->
    <link rel="stylesheet" href="../../assets/css/unify.css">
    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
        .help_btn {
            height: 50px;
            width: 320px;
        }
        .help_btn2 {
            height: 50px;
            width: 200px;
        }
    </style>
</head>
<body ng-controller="IndexController as IxCtrl">
    <main>
        <!-- Promo Block -->
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-min-height-100vh g-flex-middle g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_6--after " data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
            <div class="divimage dzsparallaxer--target w-100" style="height: 110%; background-image: url(../../images/trees.png);"></div>
            <div class="container text-center g-bg-transparent g-z-index-1 g-py-25" ng-cloak>
                    <div class="row">
                        <a href="tel:+411">
                            <input type="image" src="~/images/911.png" />
                        </a>
                    </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12 g-py-20">
                        <div class="mb-5"  ng-hide="IxCtrl.showBtn">
                            <h1 class="g-color-white g-font-size-60 mb-4 g-py-30">Need Help?</h1>
                        </div>
                        <div class="mb-5" ng-show="IxCtrl.showBtn" ng-cloak>
                            <h1 class="g-color-white g-font-size-60 mb-4 g-py-10">Concerning?</h1>
                        </div>
                        <!-- First Buttons - Input -->
                        <div class="form-group mb-0" ng-hide="IxCtrl.showBtn">
                            <div class="input-group justify-content-center">
                                <div class="col-sm-4">
                                    <button class="btn btn-md u-btn-white g-color-white g-bg-green g-brd-white--hover g-color-purple--hover g-bg-white--hover g-rounded-25 help_btn" ng-click="IxCtrl.helpBtn('me')">I Need Help</button>
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-md u-btn-white g-color-white g-bg-green g-brd-white--hover g-color-purple--hover g-bg-white--hover g-rounded-25 help_btn" ng-click="IxCtrl.helpBtn()">Someone I Know Needs Help</button>
                                </div>
                            </div>
                        </div>
                        <!-- End First Buttons - Input -->
                        <!-- Second Buttons - Input -->
                        <div class="mb-0" ng-show="IxCtrl.showBtn" ng-cloak>
                                <div class="col-sm-12 g-py-10">
                                    <button class="btn btn-md u-btn-white g-color-white g-bg-green g-brd-white--hover g-color-primary--hover g-bg-white--hover g-rounded-25 help_btn2" ng-click="IxCtrl.categBtn('suicide')">Suicide</button>
                                </div>
                                <div class="col-sm-12 g-py-10">
                                    <button class="btn btn-md u-btn-white g-color-white g-bg-green g-brd-white--hover g-color-primary--hover g-bg-white--hover g-rounded-25 help_btn2" ng-click="IxCtrl.categBtn('sexual_assault')">Sexual Assault</button>
                                </div>
                                <div class="col-sm-12 g-py-10">
                                    <button class="btn btn-md u-btn-white g-color-white g-bg-green g-brd-white--hover g-color-primary--hover g-bg-white--hover g-rounded-25 help_btn2" ng-click="IxCtrl.categBtn('domestic_violence')">Domestic Violence</button>
                                </div>
                                <div class="col-sm-12 g-py-50">
                                    <button class="btn btn-md u-btn-white g-color-white g-bg-blue g-brd-white--hover g-color-blue--hover g-bg-white--hover g-rounded-25" ng-click="IxCtrl.showBtn = !IxCtrl.showBtn"><i class="fa fa-arrow-left g-mr-3" aria-hidden="true"></i> Back</button>
                                </div>
                            </div>
                        <!-- End Second Buttons - Input -->
                    </div>
                </div>
            </div>
        </section>
        <div style=" position: absolute; right: 10px; bottom: 10px;">
            <h6 class="g-color-white">Sponsored by</h6>
            <img style="border-radius: 8px;" src="~/images/logo-nasw-sm-.gif" />
        </div>
    </main>

    <!-- JS Global Compulsory -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="../../assets/vendor/tether.min.js"></script>
    <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    @*<script src="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>*@
    <script src="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <!-- JS Unify -->
    <script src="../../assets/js/hs.core.js"></script>
    <script src="../../assets/js/components/hs.header.js"></script>
    <script src="../../assets/js/helpers/hs.hamburgers.js"></script>
    <!-- JS Plugins Init. -->
    <script>
        // Header
        $(document).on('ready', function () {
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // Initialization of HSMegaMenu plugin
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });
    </script>
    <script>
        // Toolttips
        $(document).on('ready', function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        ; (function ($) {
            'use strict';
            $(document).ready(function () {
            });
        })(jQuery);
    </script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Scripts/mainApp.js"></script>
    <script src="~/Scripts/indexCtrl.js"></script>
</body>
</html>
