<!DOCTYPE html>
<html lang="en" class="font-primary">
<head>
    <!-- Title -->
    <title>Need Help?</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700%7Csubset=cyrillic,latin" rel="stylesheet" type="text/css">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="../../assets/vendor/animate.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">
    <!-- CSS Unify -->
    <link rel="stylesheet" href="../../assets/css/unify.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../assets/css/custom.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="row">
                <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-red g-color-white rounded-circle g-mb-30">
                    <i class="icon-finance-147 u-line-icon-pro"></i>
                </span>
            </div>
        </div>
        <section class="u-bg-overlay g-bg-cover g-bg-size-cover g-bg-bluegray-opacity-0_3--after" style="background: url(../../assets/img-temp/1920x800/img8.jpg)">
            <div class="container text-center g-z-index-1 g-py-150">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="mb-5">
                            <h1 class="g-color-white g-font-size-60 mb-4">NEED HELP?</h1>
                            @*<h2 class="g-color-white g-font-weight-300 g-font-size-20 mb-0">Finding your questions is easy now.</h2>*@
                        </div>
                        <!-- Promo Blocks - Input -->
                        <div class="form-group mb-0">
                            <div class="input-group justify-content-center">
                                <div class="col-sm-5">
                                    <a class="btn btn-md u-btn-white g-color-white g-bg-green g-brd-white--hover g-color-purple--hover g-bg-white--hover g-rounded-25" href="#">I NEED HELP</a>
                                </div>
                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn btn-md u-btn-white g-color-white g-bg-green g-brd-white--hover g-color-purple--hover g-bg-white--hover g-rounded-25" href="#">SOMEONE I KNOW NEEDS HELP</a>
                                </div>

                                @*<input id="inputGroup1_1" class="form-control u-form-control g-brd-white g-font-size-default g-placeholder-gray g-rounded-left-30 g-px-25 g-py-15" type="text" placeholder="Ask a question">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary g-font-size-18 g-rounded-right-30 g-px-25 g-py-15" type="submit">
                                        <i class="g-font-size-default fa fa-search"></i>
                                    </button>
                                </div>*@
                            </div>
                        </div>
                        <!-- End Promo Blocks - Input -->
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- JS Global Compulsory -->
    <script src="../../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../assets/vendor/tether.min.js"></script>
    <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <!-- JS Unify -->
    <script src="../../assets/js/hs.core.js"></script>
    <script src="../../assets/js/components/hs.header.js"></script>
    <script src="../../assets/js/helpers/hs.hamburgers.js"></script>
    <!-- JS Customization -->
    <script src="../../assets/js/custom.js"></script>
    <!-- JS Plugins Init. -->
    <script>
        // Header
        $(document).on('ready', function () {
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // Initialization of HSMegaMenu plugin
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });
    </script>
    <script>
        // Toolttips
        $(document).on('ready', function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        ; (function ($) {
            'use strict';
            $(document).ready(function () {
            });
        })(jQuery);
    </script>
</body>
</html>
