@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Modals | Unify - Responsive Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
     
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">

    <link rel="stylesheet" href="../../assets/vendor/custombox/custombox.min.css">

    <link rel="stylesheet" href="../../assets/vendor/animate.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="../../assets/css/unify.css">
</head>
<body>
    <!-- FadeIn -->
    <div class="col-md-3 g-mb-30">
        <h3 class="h4 g-font-weight-300 g-mb-20">FadeIn</h3>
        <div id="shortcode1">
            <a class="btn u-btn-primary" href="#modal" data-modal-target="#modal" data-modal-effect="fadein">I Need Help</a>
        </div>
    </div>
    <!-- End FadeIn -->
    <!-- Demo modal window -->
    <div id="modal" class="text-left g-max-width-600 g-bg-white g-pa-20" style="display: none;">
        <button type="button" class="close" onclick="Custombox.modal.close();">
            <i class="hs-icon hs-icon-close"></i>
        </button>
        <h4 class="g-mb-20">Help Category</h4>
        <p>What can we help you with?</p>
        <a class="btn" href="#">Suicide</a>
        <a class="btn" href="#">Sexual Abuse</a>
        <a class="btn" href="#">Domestic Violence</a>    </div>
    <!-- End Demo modal window -->

    <!-- JS Global Compulsory -->
    <script src="~/assets/jquery/jquery.js"></script>
    @*<script src="~/assets/vendor/jquery/jquery.min.js"></script>*@
    <script src="~/assets/vendor/tether.min.js"></script>
    <script src="~/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="~/assets/vendor/appear.js"></script>
    <script src="~/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="~/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="~/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="~/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="~/assets/vendor/custombox/custombox.min.js"></script>
    <!-- JS Unify -->
    <script src="~/assets/js/hs.core.js"></script>
    <script src="~/assets/js/components/hs.header.js"></script>
    <script src="~/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="~/assets/js/components/hs.tabs.js"></script>
    <script src="~/assets/js/components/hs.modal-window.js"></script>
   
    <script src="~/assets/vendor/custombox/custombox.min.js"></script>
    <script src="~/assets/js/components/hs.scrollbar.js"></script>
    <script src="~/assets/js/components/hs.tabs.js"></script>
    <script src="~/assets/js/components/hs.modal-window.js"></script>

    <!-- JS Plugins Init. -->
    <script type="text/javascript">
        (function ($) {
        'use strict';
        $(document).on('ready', function () {
        // Initialization of autonomous popups
        $.HSCore.components.HSModalWindow.init('[data-modal-target])');
        });
        })(jQuery);
    </script>
</body>
</html>
