@{
    Layout = "";
}
<head>

    <!-- CSS Unify -->
    <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/unify.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700%7Csubset=cyrillic,latin" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="../../assets/vendor/jquery.filer/css/jquery.filer.css">

    <style>
        .goToHome {
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 10;
            cursor: pointer;
            opacity: .80;
            filter: alpha(opacity=80);
        }
    </style>
</head>
<body>
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-min-height-100vh g-flex-middle g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_6--after " data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>

        <div class="divimage dzsparallaxer--target w-100" style="height: 110%; background-image: url(../../images/trees.png);"></div>
        <div class="container g-bg-transparent g-z-index-1 g-py-30" ng-cloak>

            <!-- Home Button -->
            <div>
                <a class="goToHome" href="/Home/Index">
                    <i class="fa fa-home fa-3x g-color-primary"></i>
                </a>
            </div>
            <!-- Home Button End -->
            <!-- Escape Button -->
            <div style=" position: fixed; right: 10px; top: 10px; z-index: 10">
                <a href="https://www.google.com/" class="btn btn-md u-btn-white g-color-white g-bg-darkred g-brd-white--hover g-color-darkred--hover g-bg-white--hover g-rounded-25 escape_btn">
                    <span class="pull-left text-left" style="padding-top:10px">
                        <strong>ESCAPE</strong>
                    </span>
                    <i class="fa fa-ban float-right g-font-size-42 g-ml-15"></i>
                </a>
            </div>
            <!-- Signup -->
            <section class="g-bg-gray-light-v5 g-bg-transparent ">
                <div class="container g-bg-transparent g-py-20">
                    <div class="row justify-content-center g-bg-transparent ">
                        <div class="col-sm-12 col-md-10">
                            <div class="u-shadow-v21 g-bg-white rounded g-py-30 g-px-30">
                                <!-- Heading -->
                                <div class="text-center g-mb-30">
                                    <div class="d-inline-block g-width-35 g-height-1 g-bg-primary mb-2"></div>
                                    <h2 class="g-color-black g-font-weight-600 mb-2">Please Tell Us A Little More</h2>
                                    <p class="lead g-width-60x--md mx-auto">Remember that all of the fields are optional and you are free to add whatever you are comfortable with.</p>
                                </div>
                                <form class="form-horizontal" style="margin-left:20%;">
                                    <fieldset>
                                        <!-- Text input-->
                                        <div class="form-group" style="margin-bottom:20px;">
                                            <label class="col-md-4 control-label" for=""><strong>First Name</strong></label>
                                            <div class="col-md-9">
                                                <input id="" name="" type="text" placeholder="First Name" class="form-control input-md">

                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group" style="margin-bottom:20px;">
                                            <label class="col-md-4 control-label" for=""><strong>Last Name</strong></label>
                                            <div class="col-md-9">
                                                <input id="" name="" type="text" placeholder="Last Name" class="form-control input-md">

                                            </div>
                                        </div>

                                        <!-- Prepended text-->
                                        <div class="form-group" style="margin-bottom:20px;">
                                            <label class="col-md-4 control-label" for=""><strong>My Location</strong></label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="getLocationButton">Go</span>
                                                    <input id="locationInput" name="" class="form-control" placeholder="Location" type="text">
                                                </div>
                                                <p class="help-block"><span style="display:inline-block; width: 45px;"></span>Get my current location</p>
                                            </div>
                                        </div>

                                        <!-- Textarea -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for=""><strong>Tell Us More About Your Situation</strong></label>
                                            <div class="col-md-9">
                                                <textarea rows="5" placeholder="Description" class="form-control" id="" name=""></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="row">
                                        <button class="btn btn-md btn-block u-btn-primary rounded-0 g-py-15" type="button" style="width:77%;">Submit</button>
                                    </div>
                                </form>
                                


                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Signup -->
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="../../assets/vendor/tether.min.js"></script>
    <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <!-- JS Unify -->
    <script src="../../assets/vendor/jquery.filer/js/jquery.filer.min.js"></script>
    <script src="../../assets/js/hs.core.js"></script>
    <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="../../assets/js/helpers/hs.hamburgers.js"></script>
    <script src="../../assets/js/helpers/hs.file-attachments.js"></script>
    <script>
        $(document).ready(function () {
            $("body").on("click", "#getLocationButton", fillLocation);

        });

        fillLocation = function () {
            console.log('hi');
            $("#locationInput").val("Los Angeles, CA 90015");

        }
    </script>
</body>

