@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en" class="font-primary">
<head>
    <!-- Title -->
    <title>Suicide Prevention Resources</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700%7Csubset=cyrillic,latin" rel="stylesheet" type="text/css">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="../../assets/vendor/animate.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">
    <!-- CSS Unify -->
    <link rel="stylesheet" href="../../assets/css/unify.css">
    <style>
        .goToHome {
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 10;
            cursor: pointer;
            opacity: .80;
            filter: alpha(opacity=80);
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--static--lg u-header--show-hide--lg u-header--change-appearance--lg"
            data-header-fix-moment="500"
            data-header-fix-effect="slide">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10"
             data-header-fix-moment-exclude="g-bg-white g-py-10"
             data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
            <nav class="js-mega-menu navbar navbar-toggleable-md">
                <div class="container">
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0" type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                        <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                    <!-- Logo -->
                    <a href="/Home/Index" class="navbar-brand">
                        <img src="~/images/logo-nasw-sm-.gif" alt="nasw logo">
                    </a>
                    <!-- End Logo -->
                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                        <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                            <li class="nav-item g-mx-20--lg ">
                                <a href="/Home/Index" class="nav-link g-px-0 g-color-primary--hover"><i class="fa fa-home g-color-primary"></i>Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="/Home/SAPage" class="nav-link g-px-0 g-color-primary--hover">Self-Report</a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="/Home/SuiResource" class="nav-link g-px-0 g-color-primary--hover">Suicide Prevention</a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="/Home/SAResources" class="nav-link g-px-0 g-color-primary--hover">Sexual Abuse</a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="/Home/DVResource" class="nav-link g-px-0 g-color-primary--hover">Domestic Violence</a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="/Home/Report" class="nav-link g-px-0 g-color-primary--hover">Report for Another</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Navigation -->
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->
    <main>
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-min-height-100vh g-flex-middle g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_6--after " data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <!-- Escape Button -->
        <div style=" position: fixed; right: 10px; top: 20%; z-index: 10">
            <a href="https://www.google.com/" class="btn btn-md u-btn-white g-color-white g-bg-darkred g-brd-white--hover g-color-darkred--hover g-bg-white--hover g-rounded-25 escape_btn">
                <span class="pull-left text-left" style="padding-top:10px">
                    <strong>ESCAPE</strong>
                </span>
                <i class="fa fa-ban float-right g-font-size-42 g-ml-15"></i>
            </a>
        </div>
        <!-- Escape Button End-->
        <div class="divimage dzsparallaxer--target w-100" style="height: 110%; background-image: url(../../images/trees.png);"></div>
        <div class="container g-bg-transparent g-z-index-1 g-py-30" ng-cloak>
                <!-- Accordion -->
                <section class="g-bg-gray-gradient-opacity-v1">
                    <div class="container g-py-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <!-- Heading -->
                                <div class="text-center g-mb-30">
                                    <div class="d-inline-block g-width-35 g-height-1 g-bg-primary mb-2"></div>
                                    <h2 class="g-color-black g-font-weight-600 mb-2">Need Assistance?</h2>
                                    <p class="lead g-width-60x--md mx-auto">There are people who can help.</p>
                                </div>
                                <!-- End Heading -->
                                <div id="accordion" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
                                    <!-- Card -->
                                    <div class="card g-brd-none rounded g-mb-20">
                                        <div id="accordion-heading-01" class="g-pa-0" role="tab">
                                            <h5 class="mb-0">
                                                <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" href="#accordion-body-01" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="accordion-body-01">
                                                    People You Can Talk To Now
                                                    <span class="u-accordion__control-icon g-color-primary">
                                                        <i class="fa fa-angle-down"></i>
                                                        <i class="fa fa-angle-up"></i>
                                                    </span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="accordion-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-heading-01">
                                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                                <p>
                                                    <a href="tel:+1-800-273-8255">
                                                        <i class="fa fa-phone-square" aria-hidden="true"></i> National Suicide Prevention Lifeline
                                                    </a><br />
                                                    The Lifeline provides 24/7, free and confidential support for people in distress, prevention and crisis resources for you or your loved ones
                                                </p>
                                                <p>
                                                    <a href="tel:+1-800-442-4673">
                                                        <i class="fa fa-phone-square" aria-hidden="true"></i> National Hopeline Network
                                                    </a><br />
                                                    If you (or someone you know) are depressed and thinking about suicide, please call to talk to a caring crisis hotline volunteer. Your call is free and confidential.
                                                </p>
                                                <p>
                                                    <a href="tel:+1-800-662-4357">
                                                        <i class="fa fa-phone-square" aria-hidden="true"></i> SAMHSA's National Helpline
                                                    </a><br />
                                                    A confidential, free, 24-hour-a-day, 365-day-a-year, information service, in English and Spanish, for individuals and family members facing mental and/or substance use disorders. This service provides referrals to local treatment facilities, support groups, and community-based organizations.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Card -->
                                    <!-- Card -->
                                    <div class="card g-brd-none rounded g-mb-20">
                                        <div id="accordion-heading-02" class="g-pa-0" role="tab">
                                            <h5 class="mb-0">
                                                <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" href="#accordion-body-02" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="accordion-body-02">
                                                    People You Can Chat With Now
                                                    <span class="u-accordion__control-icon g-color-primary">
                                                        <i class="fa fa-angle-down"></i>
                                                        <i class="fa fa-angle-up"></i>
                                                    </span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="accordion-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-heading-02">
                                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                                <p>
                                                    <a href="http://chat.suicidepreventionlifeline.org/GetHelp/LifelineChat.aspx">
                                                        <i class="fa fa-weixin" aria-hidden="true"></i> National Suicide Prevention Lifeline Chat
                                                    </a><br />
                                                    The Lifeline Crisis Chat service is available within the United States and territories 24/7.
                                                </p>
                                                <p>
                                                    <a href="https://www.imalive.org/">
                                                        <i class="fa fa-weixin" aria-hidden="true"></i> I'm Alive Chat
                                                    </a><br />
                                                    If you are in crisis or considering suicide, please click the Chat Now button to talk with one of our volunteers.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Card -->
                                    <!-- Card -->
                                    <div class="card g-brd-none rounded g-mb-20">
                                        <div id="accordion-heading-03" class="g-pa-0" role="tab">
                                            <h5 class="mb-0">
                                                <a class="collapsed d-flex justify-content-between u-shadow-v19 g-color-main g-text-underline--none--hover rounded g-px-30 g-py-20" href="#accordion-body-03" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="accordion-body-03">
                                                    Helpful Links
                                                    <span class="u-accordion__control-icon g-color-primary">
                                                        <i class="fa fa-angle-down"></i>
                                                        <i class="fa fa-angle-up"></i>
                                                    </span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="accordion-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-heading-03">
                                            <div class="u-accordion__body g-color-gray-dark-v4 g-pa-30">
                                                <p>
                                                    <a href="https://suicidepreventionlifeline.org/">
                                                        <i class="fa fa-file" aria-hidden="true"></i> National Suicide Prevention Lifeline
                                                    </a><br />
                                                    The National Suicide Prevention Lifeline is a national network of local crisis centers that provides free and confidential emotional support to people in suicidal crisis or emotional distress 24 hours a day, 7 days a week. We're committed to improving crisis services and advancing suicide prevention by empowering individuals, advancing professional best practices, and building awareness.
                                                </p>
                                                <p>
                                                    <a href="http://www.sprc.org/">
                                                        <i class="fa fa-file" aria-hidden="true"></i> Suicide Prevention Resource Center
                                                    </a><br />
                                                    Effective prevention starts with you.
                                                </p>
                                                <p>
                                                    <a href="https://afsp.org//">
                                                        <i class="fa fa-file" aria-hidden="true"></i> American Foundation for Suicide Prevention
                                                    </a><br />
                                                    You Can Fight Suicide
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Accordion -->
            </div>
        </section>
            </main>
            <!-- JS Global Compulsory -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../../assets/vendor/tether.min.js"></script>
            <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>
            <!-- JS Implementing Plugins -->
            <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
            <script src="../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
            <script src="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
            <script src="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
            <!-- JS Unify -->
            <script src="../../assets/js/hs.core.js"></script>
            <script src="../../assets/js/components/hs.header.js"></script>
            <script src="../../assets/js/helpers/hs.hamburgers.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        // Header
        $(document).on('ready', function () {
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');
        });
    </script>

</body>
</html>